body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #f0f0f5, #e6e6ff);
  color: #333;
  direction: rtl;
}

header,
footer {
  padding: 30px;
  text-align: center;
  background: linear-gradient(135deg, #5900aca9, #5b00b596);
  color: #fff;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  border-radius: 12px;
  transition: all 0.3s ease;
}

header a,
a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

header a:hover,
a:hover {
  color: #cb68dfab;
}

div {
  max-width: 1200px;
  margin: 30px auto;
  padding: 25px;
  background: rgba(255,255,255,0.95);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: right;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: linear-gradient(135deg, rgba(138,43,226,0.1), rgba(92,0,181,0.1));
  border-radius: 12px;
  width: 100%;
  padding: 17px 0px 17px 0px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.3s;
}

li:hover {
  transform: translateX(5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

h3 {
  text-align: center;
  color: #8a2be2;
  margin-bottom: 25px;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

div > p {
  background: rgba(138,43,226,0.05);
  padding: 20px;
  border-radius: 12px;
  line-height: 2;
  font-size: 1.15rem;
  text-align: justify;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: all 0.3s;
}

div > p:hover {
  background: rgba(138,43,226,0.12);
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.link{
  color: #7d1ba1;
  text-align: center;
  width: 100%;
}

.link-main{
  color: #7d1ba1;
  text-align: center;
  display: block;
  padding: 17px;
  box-shadow: 6px 6px 14px rgba(0,0,0,0.12);
  border-radius: 13px;

}

.quran-main-text{
  text-align: center;
  margin: 30px;
  font-size: 20px;

}
.quran-main-container{
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 13px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.quran-main-container > h1{
  text-align: center;
  color: #7d1ba1;
}

span{
  font-size: 25px;
}

input[type="search"] {
  width: 100%;
  padding: 10px 15px;
  margin: 15px 0;
  border: 2px solid rgba(149, 0, 255, 0.3);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="search"]:focus {
  border-color: rgba(149, 0, 255, 0.8);
  box-shadow: 0 0 8px rgba(149, 0, 255, 0.3);
}

select {
  width: 100%;
  padding: 8px 12px;
  margin-top: 5px;
  border: 2px solid rgba(149, 0, 255, 0.3);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.surat-section {
  display: flex;
}

@media (max-width: 768px) {
  .surat-section {
    display: flex ;
    flex-direction: column-reverse ; 
  }
}